.main
{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 80vh;
    color: black;
    font-family: DejaVu Sans Mono, monospace;
    position: absolute;
    top: 15vh;
    right: 20vh;

}

.fact
{
    position: absolute;
    top: 70vh;
    left: 10vh;
    z-index: 1;

}

h1,p
{
    font-family: DejaVu Sans Mono, monospace;
    color: black;
}

img
{
    opacity: 0.5;
}
.center
{
    text-align:center;
    position: relative;
}



body
{
    overflow:hidden;
}

