.main
{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100;
    font-family: DejaVu Sans Mono, monospace;
}

.left
{
    display: flex;
    justify-content:center;
    align-items:center;
    grid-column-end: 2;
}
.name
{
    text-align:center;
}
ul
{
    font-size: 20px;
    
}
.right
{
    grid-column-end: 3;
}

.image
{
    display: flex;
    justify-content: center;
    
    height: 100vh;
    
}



body
{
    overflow:hidden;
}
