.main
{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100;
}

.left{
    display: flex;
    justify-content:center;
    align-items:center;
    border: 2px solid blue;
    grid-column-end: 2;
}
ul{
    font-size: 20px;
    
}
.right
{
    border: 2px solid red;
    grid-column-end: 3;
}

.image
{
    position: relative;
    height: 100vh;
    
}

li::marker{
    content: ">";
    font-style: bold;
    color: red;
}
